<log4net>
  <root>
    <level value="ALL" />

    <appender-ref ref="ConsoleAppender" />
  </root>


  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <filter type="WinDbgDebug.Log4Net.ThresholdFilter, windbg-debug">
      <Threshold type="log4net.Util.PatternString" value="%property{clientLogLevel}" />
    </filter>
    <target value="Console.Error" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>